.videos {
      margin: 0;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    video {
      max-width: 100%;
      max-height: 100%;
    }
    .back {
      position: fixed;
      top: 20px;
      left: 20px;
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      background: rgba(0,0,0,0.5);
      padding: 5px 10px;
      border-radius: 5px;
    }
.volver {
      ; display: inline-block;
      padding: 0.7em 1.4em; background: #ffc107; color: #181818;
      border-radius: 6px; text-decoration: none; font-weight: bold;
      position: fixed;
      top: 20px;
      font-family: sans serif
      ;
      
      
    }
    .volver:hover { background: #ff9800; }

    body.videos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background: #0c0e0f;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      font-family: sans-serif;
   
    }

    .banner {
      background-color: rgb(184, 209, 219);
      padding: 10px;
      text-align: center;
      width: 80%;
      margin-bottom: 20px;
      border-radius: 8px;
      font-weight: bold;
      

    }

    video {
      width: 80%;
      height: auto;
      border: 2px solid #111d27e;
      border-radius: 10px;
      box-shadow: 0 0 10px #333;
    }
    
